{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    理解性测试
{% endblock %}

{% block content %}

    <div style="text-indent:2em; line-height:170%; margin: 0.25em 5em;" >
    请回答以下问题:
    </div>

    <div style="text-indent:2em; line-height:170%; margin: 0.25em 5em;" >
    银行A存款人数为: {% formfield player.bankA with label=prompt %};
        银行B存款人数为: {% formfield player.bankB with label=prompt %};
    </div>

    <div style="text-indent:2em; line-height:170%; margin: 0.25em 5em;" >
    关联组实验时，A和B银行的流动性水平 {% formfield player.fluidityA with label=prompt%};
            独立组实验时，A和B银行的流动性水平 {% formfield player.fluidityB with label=prompt%}
    </div>

    <div style="text-indent:2em; line-height:170%; margin: 0.25em 5em;" >
    根据实验说明中A银行对应的支付矩阵：
    </div>

<table border="1" align="center" style="text-align: center; line-height: 25px">
　<caption><strong>A 银行支付矩阵</strong></caption>
    <tr><th colspan="2" width="160px" style="text-align: center">当期取款人数</th><td width="40px">0</td><td width="40px">1</td><td width="40px">2</td><td width="40px">3</td><td width="40px">4</td><td width="40px">5</td><td width="40px">6</td></tr>
    <tr><th rowspan="2" style="text-align: center">低流动性</th><th width="80px" style="text-align: center">当期取款</th><td></td><td>100</td><td>60</td><td>40</td><td>30</td><td>24</td><td>20</td></tr>
　      <tr><th style="text-align: center">等待期满</th><td>125</td><td>25</td><td>0</td><td>0</td><td>0</td><td>0</td><td></td></tr>
    <tr><th rowspan="2" style="text-align: center">高流动性</th><th style="text-align: center">当期取款</th><td></td><td>100</td><td>100</td><td>100</td><td>100</td><td>96</td><td>80</td></tr>
　      <tr><th style="text-align: center">等待期满</th><td>125</td><td>119</td><td>109</td><td>94</td><td>63</td><td>0</td><td></td></tr>
</table>

    <div style="text-indent:2em; line-height:170%; margin: 0.25em 5em;" >
    假定您是A银行的存款人，目前A银行是低流动性，则存在4人取款，其他人决定等待期满时，
        如果您当期取款则获得效用值为 {% formfield player.utility1 with label=prompt %}
        ，如果您等待期满则获得效用值为 {% formfield player.utility2 with label=prompt %}.
    </div>

    <div style="text-indent:2em; line-height:170%; margin: 0.25em 5em;" >
    假定您是A银行的存款人，但是A银行的流动性水平未知，则存在2人取款，其他人决定等待期满时，
        如果您当期取款则获得效用值为 {% formfield player.utility3 with label=prompt %} 或者
        {% formfield player.utility4 with label=prompt %}，
        如果您等待期满则获得效用值为 {% formfield player.utility5 with label=prompt %} 或者
        {% formfield player.utility6 with label=prompt %}.
    </div>

    <div style="text-indent:2em; line-height:170%; margin: 0.25em 5em;" >
    根据实验说明中B银行对应的支付矩阵：
    </div>

<table border="1" align="center" style="text-align: center; line-height: 25px; margin-bottom: 3em">
　<caption><strong>B 银行支付矩阵</strong></caption>
    <tr><th colspan="2" width="160px" style="text-align: center">当期取款人数</th><td width="40px">0</td><td width="40px">1</td><td width="40px">2</td><td width="40px">3</td></tr>
    <tr><th rowspan="2" style="text-align: center">低流动性</th><th width="80px" style="text-align: center">当期取款</th><td></td><td>60</td><td>30</td><td>20</td></tr>
　      <tr><th style="text-align: center">等待期满</th><td>125</td><td>0</td><td>0</td><td></td></tr>
    <tr><th rowspan="2" style="text-align: center">高流动性</th><th style="text-align: center">当期取款</th><td></td><td>100</td><td>100</td><td>80</td></tr>
　      <tr><th style="text-align: center">等待期满</th><td>125</td><td>109</td><td>163</td><td></td></tr>
</table>

        <div style="text-indent:2em; line-height:170%; margin: 0.25em 5em;" >
    假定您是B银行的存款人，目前B银行是低流动性，则存在1人取款，其他人决定等待期满时，
            如果您当期取款则获得效用值为 {% formfield player.utility7 with label=prompt %} ，
            如果您等待期满则获得效用值为 {% formfield player.utility8 with label=prompt %}.
        </div>

        <div style="text-indent:2em; line-height:170%; margin: 0.25em 5em;" >
    假定您是B银行的存款人，但是B银行的流动性水平未知，则存在2人取款，其他人决定等待期满时，
            如果您当期取款则获得效用值为 {% formfield player.utility9 with label=prompt %}
            或者 {% formfield player.utility10 with label=prompt %}，
            如果您等待期满则获得效用值为 {% formfield player.utility11 with label=prompt %}
            或者 {% formfield player.utility12 with label=prompt %} .
        </div>




    {% next_button %}
{% endblock %}