{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        Now you are asked to guess a secret number selected by the computer. The number ranges from <strong>0</strong>
        to <strong>10</strong>. <br>
        You need to think of a number within the same range. On the next page, we will show you the secret number
        and ask whether your number matches. <br>
        <I><strong>If so, you will get a bonus</strong></I>.<br>
    </p>

</div>

