{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Page title
{% endblock %}

{% block content %}

<!--
Documentation on how to write a django template here:
https://docs.djangoproject.com/en/1.8/ref/templates/language/

Bootstrap comes pre-loaded, so you can use any Bootstrap elements:
http://getbootstrap.com/components/

-->

    <li class="fl mr10" id="info">
       <a href="" class="white block">Information</a>
       <a class="float_box hand none" href="">
           <img src="{% static "mouse/Control.png" %}"/>
       </a>
    </li>

    <input type="hidden" name="time_stamp_entered"
    value="0" id="time_stamp_entered"/>	


    {% next_button %}

{% endblock %}

{% block scripts %}

    <script>
      $(document).ready(function(){
         var ps=$("#info").position();
         $(".float_box").css("position","absolute");
         $(".float_box").css("left",ps.left+80);
         $(".float_box").css("top",ps.top);
        $("#info").hover(function(){
            //record the current time
        $(this).data( 'start', new Date().getTime() );
            $(".float_box").show();},
            function(){
            //grab the end time
        var end = new Date().getTime();
        //calculate the difference in seconds
        var hoverTime = ( end - $(this).data('start') )/1000;
        //use the result
        alert( hoverTime.toFixed( 2 ) );
            $(".float_box").hide();});
        })
    </script>

{% endblock %}
