{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Welcome
{% endblock %}

{% block content %}


{#    <p>URL of this page: {{ request.get_full_path }}</p>#}

    <input type="hidden" name="current_url" value="" id="current_url"/>

    <button class="btn btn-primary" onclick="stopCount();">Next</button>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">

    function stopCount(){
        document.getElementById('current_url').value = window.location.href;
    }

    </script>

{% endblock %}