{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Page title
{% endblock %}

{% block content %}


{#    <a href="{{ link }}" target=_blank onclick="click()">Link</a>#}

    <a href="{{ link }}" id="link" id="link" style="display:none">Link</a>
{#    <p>#}
{##}
{#    <form id="myform" action="#" method="post">#}
{##}
{#        <input class="btn btn-primary btn-large btn-primary next-button" type="submit" value="Suivant" id="next"  />#}
{##}
{#    </form>#}
{##}
{#    </p>#}

{#    <button class="btn btn-primary" id="next" style="display:none">Next</button>#}
    <input type="hidden" name="now_url" value="" id="now_url"/>
    <input type="hidden" name="datastring" value="" id="datastring"/>

     <button class="btn btn-primary" id="next" style="display:none" onclick="stopCount()">Next</button>


{% endblock %}

{% block scripts %}

    <script type="text/javascript">
{##}
{#    function clickme() {#}
{##}
{#        document.getElementById("next").click();#}
{##}
{#    }#}
{##}
    window.onload=function(){

      var parser = document.createElement('a');
      var next = document.getElementById('next');
      var link = document.getElementById('link');
      parser.href = window.location.href;
      var query = location.search.substr(1);
            query.split("&").forEach(function(part) {
            var item = part.split("=");

      if (item[0]=="participant_label"){
          next.style.display="";
          link.style.display="none";
      }else{
          next.style.display="none";
          link.style.display="";
      }

      });
    };

    function stopCount(){
        document.getElementById('now_url').value = window.location.href;
        var parser = document.createElement('b');
        parser.href = window.location.href;
        var query = location.search.substr(1);
            query.split("&").forEach(function(part) {
            var item = part.split("=");
            document.getElementById('datastring').value = decodeURIComponent(item[1]);
        });
    }


    </script>

{% endblock %}