{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Guess Donation
{% endblock %}

{% block content %}
    <p>
        Your partner selected one organization from the following list:
    </p>

        <table class="table table-hover">

            <tr>
                <th>No.</th>
                <th>Organizations</th>
                <th>Description</th>
            </tr>

        {% for org, des, no in mylist %}
            <tr>
                <td>{{ no }}</td>
                <td>{{ org }}</td>
                <td>{{ des }}</td>
            </tr>
        {% endfor %}

        </table>

        {% formfield player.donation_choice with label='Now please guess which one of these three organizations did your partner select?' %}

    {% next_button %}

{% endblock %}
