{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Guess Party Identification
{% endblock %}

{% block content %}

    {% if player.partner == 1 or player.partner == 3 %}

    <p>
        For the issue: <strong>{{ issue }}</strong>.
    </p>
    <p>
         Your opinion is <strong>{{ self_opinion }}</strong>. Your partner's opinion is <strong>{{ other_opinion }}</strong>.
    </p>

    {% else %}

    <p>
        In the previous questions, your partner reported being the <strong>{{ party }}</strong> party.
    </p>

    {% endif %}

        {% formfield player.party_choice with label='Please guess his/her party identification: '%}



    {% next_button %}

{% endblock %}