{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Guess Party Identification
{% endblock %}

{% block content %}

    {% if player.partisanship1 == 1 or player.partisanship1 == 2 %}

    <p>
        In the previous questions, you reported yourself as a <strong>{{ party }}</strong>. <br>
        Your party identification is: <strong>{{ id }}</strong>.
    </p>
    <p>
        Your partner reported being the <strong>{{ same_opposite }}</strong> party.
    </p>

        {% formfield player.party_choice with label='Please guess his/her party identification: '%}

    {% elif player.partisanship1 == 3 or player.partisanship == 5 or player.partisanship == 8 %}

    {% if player.partisanship3 == 1 or player.partisanship3 == 2 %}

    <p>
        In the previous questions, you did not think yourself as a Republican or a Democrat.<br>
        But you think you are {{ close }}
    </p>
    <p>
        Your partner reported being the {{ dem_rep }} party.
    </p>

        {% formfield player.party_choice with label='Please guess his/her party identification: '%}

    {% next_button %}

{% endblock %}