{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Partisan Prime 1
{% endblock %}

{% block content %}


    <div id="Questions">
    Please move your mouse over the following black canvas. You can press your left mouse button and move to get more information with a spotlight.
    </div>
    <p>

    </p>

    <div id="card" >
      <canvas id="canvasOne" width="690" height="600"></canvas>
    </div>


    <input type="hidden" name="mouse_x" value="" id="mouse_x"/>
    <input type="hidden" name="mouse_y" value="" id="mouse_y"/>
    <input type="hidden" name="mouse_t" value="" id="mouse_t"/>

    {% formfield player.priming1 with label="Were you aware about this difference in opinion?" %}


    <button class="btn btn-danger" onclick="stopCount();">Next</button>
{% endblock %}

{% block styles %}

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;

        }

        html {
            width: 100vw;
            height: 100vh;
        }

        body {
            min-height: 100%;
            padding: 1vw;
            text-align: left;

        }

        #card {
            width: 700px;
            height: 450px;
            margin: 0 auto;
            background: url(http://wx3.sinaimg.cn/mw690/006bpbHRgy1ffiyk9j8ulj31h00xqhdu.jpg) no-repeat left;


        }

    </style>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">

        window.addEventListener('load', eventWindowLoaded, false);

        var Debugger = function() {};

        Debugger.log = function(message) {
            try {
                console.log(message);
            } catch (exception) {
                return;
            }
        };

        function eventWindowLoaded() {
            canvasApp();
        }

        function canvasApp() {
            Debugger.log('Drawing Canvas');


            var canvas = document.getElementById('canvasOne');
            var ctx = canvas.getContext('2d');

            var w = canvas.width = 700;    //黑色罩子的宽度
            var h = canvas.height = 450;   //黑色罩子的高度

            function reOffset() {
                var BB = canvas.getBoundingClientRect();
                offsetX = BB.left;
                offsetY = BB.top;
            }

            var offsetX, offsetY;
            reOffset();

            window.onscroll = function(e) {
                reOffset();
            };

            window.onresize = function(e) {
                reOffset();
            };

            canvas.addEventListener('mousemove', mouseMove, false);
            canvas.addEventListener('touchmove', mouseMove, false);

            function draw(cx, cy, radius) {

                ctx.save();
                ctx.clearRect(0, 0, w, h);

                var radialGradient = ctx.createRadialGradient(cx, cy, 1, cx, cy, radius);

                radialGradient.addColorStop(0, 'rgba(0, 0, 0, 1)');
                radialGradient.addColorStop(.65, 'rgba(0, 0, 0, 1)');
                radialGradient.addColorStop(1, 'rgba(0, 0, 0, 0)');

                ctx.beginPath();

                ctx.fillStyle = '#000';
                ctx.fillRect(0, 0, w, h);

                if(event.which == 1){
                ctx.globalCompositeOperation = 'destination-out';

                ctx.arc(cx, cy, radius, 0, Math.PI * 2, false);
                ctx.fillStyle = radialGradient;
                ctx.fill();

                ctx.restore();
                }

            }

            function mouseMove(e) {

                e.preventDefault();
                e.stopPropagation();

                mouseX = parseInt(e.clientX - offsetX);
                mouseY = parseInt(e.clientY - offsetY);

                draw(mouseX, mouseY, 100);
            }
            draw(w / 2, h / 2, 200);
        }


    var xPos = new Array();
    var yPos = new Array();
    var tPos = new Array();

    var canvas = document.getElementById('canvasOne');

    canvas.addEventListener('mousemove', function(evt){
        if(event.which==1) {
            var mousePos = getMousePos(canvas, evt);
            xPos.push(mousePos.x);
            yPos.push(Math.round(mousePos.y));
        }
    }, false);

//Get Mouse Position
    function getMousePos(canvas, evt) {
    var rect = canvas.getBoundingClientRect();
    return {
        x: evt.clientX - rect.left,
        y: evt.clientY - rect.top
        };
    }


    var time=0;

    document.addEventListener('mousedown', keydown, false);

    document.addEventListener('mouseup', keyup, false);

    function keydown(ev) {
      if (time === 0) {
        time = ev.timeStamp;
      }
    }
    function keyup(ev) {
      if (time !== 0) {
        tPos.push((ev.timeStamp - time) / 1000.);
        time = 0;
      }
    }


    function stopCount()
		{
		    document.getElementById('mouse_x').value = xPos.join();
		    document.getElementById('mouse_y').value = yPos.join();
		    document.getElementById('mouse_t').value = tPos.join();
		}

        </script>
{% endblock %}