{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Petition
{% endblock %}

{% block content %}

    <p>
        Here is an overview of your answers to the issues mentioned in this study.<br>
        Which one would you like to sign a petition for?
    </p>
    <p>
        We will give you further information to sign your petition through email.
    </p>

        <table class="table table-hover">

            <tr><td width="30%" align="left">Issues</td>
                <td width="10%" align="center">Your Answer</td>
            <td width="5%" align="center">Choice</td>
            </tr>

        {% for question, attitude, v in list %}

            <tr><td width="30%" align="left">{{ question }}</td>
                <td width="10%" align="center">{{ attitude }}</td>
            <td width="5%" align="center">
                <input type="radio" name="{{ petition }}" value={{ v }}>
            </td>
            </tr>

        {% endfor %}


        </table>

            {% formfield player.email_petition with label='Please leave your email address:'%}


    {% next_button %}

{% endblock %}
