{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Question 9
{% endblock %}

{% block content %}

    <p>
        <strong>Where would you place Hillary Clinton on this issue?</strong>
    </p>

        <table class="table table-hover">

        <tr>
        <td width="10%" align="right">Govt should see to jobs and standard of living</td>
        <td width="4%" align="center">
            <input type="radio" name="Q12" value=1></td>
        <td width="4%" align="center">
            <input type="radio" name="Q12" value=2></td>
        <td width="4%" align="center">
            <input type="radio" name="Q12" value=3></td>
        <td width="4%" align="center">
            <input type="radio" name="Q12" value=4></td>
        <td width="4%" align="center">
            <input type="radio" name="Q12" value=5></td>
        <td width="4%" align="center">
            <input type="radio" name="Q12" value=6></td>
        <td width="4%" align="center">
            <input type="radio" name="Q12" value=7></td>
        <td width="10%" align="left">Govt should let each person get ahead on own</td>
        </tr>
        </table>


    {% next_button %}

{% endblock %}