{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}
{% load staticfiles %}

{% block title %}
    Task 1: Text Transcription
{% endblock %}

{% block content %}


{% if player.group_num == 2 or player.group_num == 5 or player.group_num == 8 or player.group_num == 11 %}

    <p>
        Transcribe the text below. Completing the data entry ensures that you are a real human and not a spammer.
    </p>

    <img src="{% static "Empathy/Empathy.png" %}"/>

{% elif player.group_num == 1 or player.group_num == 4 or player.group_num == 7 or player.group_num == 10 %}

    <p>
        Transcribe the text below. Completing the data entry ensures that you are a real human and not a spammer.
    </p>

    <img src="{% static "Empathy/Control.png" %}"/>

{% else %}

    <p>
        Transcribe the text below. Completing the data entry ensures that you are a real human and not a spammer.
    </p>

    <img src="{% static "Empathy/Guile.png" %}"/>


{% endif %}

    {% formfield player.text with label='Transcribe text here' %}

{% next_button %}

{% endblock %}