{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

{#    <h3 class="panel-sub-heading">#}
{#        Instructions#}
{#    </h3>#}
    <p>
        <strong> Task: </strong>
        You will be presented with 36 images of eyes. For each set of eyes, choose and circle which word best describes what the person in the picture is thinking
        or feeling. You may feel that more than one word is applicable but please choose just one word, the word which
        you consider to be most suitable. Before making your choice, make sure that you have read all 4 words.
        You should try to do the task as quickly as possible but you will not be timed. <br>
        <br>
        <I>If you really don't know what a word means you can look it up by hovering your mouse over the word.</I><br>
        <I>For example:</I>
        <div align="center" >
                <img src="{% static "new_eye/example.png" %}" style="width: 200px; height: 70px"/>
        </div>
    </p>
    <p>
        <br>
    </p>

    <p>
        <strong> Payment: </strong>
        You will be paid 50 cents for completing this section. It typically takes 10 minutes to complete.

    </p>


</div>
