{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Question 1-13
{% endblock %}

{% block content %}

    <p>
        Some people have proposed that the U.S. Constitution should be changed so that the children of unauthorized
        immigrants do not automatically get citizenship if they are born in this country. Do you favor, oppose,
        or neither favor nor oppose this proposal?
    </p>

    {% formfield player.question_13 with label='' %}

    {% next_button %}

{% endblock %}