{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>
    <p>
        In this experiment you can bet on the result of two coin throws. The two coin throws differ as follows:
    </p>

    <p>
        Coin 1 is a standard coin with Heads and Tails. It is thrown randomly by the computer, Heads and Tails are
        equally likely.
    </p>

    <p>
        Coin 2 is a symbol coin, and falls either on side ♡ or side ☺︎. On which side it falls is decided
        as follows: First, each participant in this session chooses either ♡ or ☺︎. Then the coin in this metaphorical
        coin throw falls on the side chosen by the majority of participants, excluding you. Thus the symbol coin falls
        on ♡, if among the other participants, that is all participants except you, more chose ♡ than ☺︎; otherwise it
        falls on ☺︎, if among the other participants more participants choose ☺︎ than ♡. In this session, there is an even
        number of participants. As your choice is excluded for the coin throw, an odd number of participants decides
        the result of the throw. Both coins fall on one side, it is impossible that a coin lands on its edge.
    </p>
</div>