{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Task 3: Two-player Communication Game
    </h3>
    <p>
        This is a short experiment in decision making. In this experiment, you will be matched with another worker.
        Neither of you will ever know the identity of the other. The money that you earn will be paid to you next week,
        privately and in cash.
    </p>
    <p>
        Two possible monetary payments are available to you and your counterpart in the experiment. Two payment options(
        Option A and Option B) are shown to your counterpart. After viewing two payments, your counterpart will send you
        a message informing you the details of the two options. Then you can choose to get paid by Option A or Option B.
        We will pay the two of you according to the choice made by you.

        However, you will never know what sums were actually offered in the option not chosen(that is, you will never
        know whether the message was true or not). Moreover, you will never know the sums to be paid to your counterpart
        according to the different options.
    </p>


</div>