{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
        We are a research team from Georgetown University in Washington DC. We study what people living in the United States think and care about.<br>
        We would like to ask you some questions about issues facing the United States today. There are no right or wrong
        answers, just let us know what you think.<br>
        Toward the end of the survey, we will ask you a few questions about yourself such as your age, gender, or level
        of education.<br>
    </p>
    <p>
        <strong>Remember, all your answers are collected anonymously: we cannot identify specific participants.</strong>
    </p>


    {% next_button %}

{% endblock %}
