{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Partisan Prime 1
{% endblock %}

{% block content %}


    <img src="{% static "anes2/crowd.jpg" %}"/>


    <p>
        <strong>A CNN journalist says:</strong><br>
     "The turnout for the inauguration of President Donald Trump appears to be smaller than that of his predecessor as
        measured by the photo of the two events."
    </p>


    {% formfield player.priming1 with label="Were you aware about this difference in the opinion?" %}


    {% next_button %}

{% endblock %}