{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Behavioral Game
{% endblock %}

{% block content %}

    <p>
        In the previews questions, you reported preference on:<br>
        <strong>{{ issue }}</strong><br>
        You {{ opinion }} it <strong>{{ level }}</strong>.
    </p>
    <p>
        Now suppose you are asked to play an interactive game with another participant who reports {{ direction }}
        preference on the same issue, or who reports being the {{ direction }} party.
    </p>

    {% formfield player.partner with label='Which one would you like to choose?' %}

    {% next_button %}

{% endblock %}
