{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <p>
        In this experiment you will decide whether you prefer to play a lottery, in which the payoff is dependent on the
        color of a ball randomly drawn from a drum, or to receive a guaranteed amount of money.
    </p>

    <p>
        Before it starts, we will give you an encrypted message. This message contains a random number between 0.00 to
        20.00. All possible numbers have equal probability. <strong>The number is randomly selected by the computer before the experiment starts
        and will remain the same. The encryption key, algorithm and mode are all reset in this experiment. Different messages across experiments do not indicate different numbers</strong>.
        Once experiment 2 is over, we will give you the algorithm, the key and the mode to decrypt your message on a third-party website:
        <a href="{{ link }}" target=_blank>https://codebeautify.org/encrypt-decrypt</a>. Then you can get your result.
    </p>

</div>