{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Result
{% endblock %}

{% block content %}

    {% if player.check == 1 %}

        <p>
            The text you entered before matches the encrypted information. <br>
            Please click the next button and go on.
        </p>

    {% else %}

        {% formfield player.message0_other with label="The text you entered before appears to contain some errors. Please enter it here again" %}

        <p>
            Please note that if what you enter does not match the encrypted information, your payments for the next three experiments will be reduced. <br>
            So check carefully the envelope you chose, and make sure you decrypt it in the right way.
        </p>
        <p>
            The envelope you chose: <div style="text-align:center"><strong>{{ message }}</strong></div>
        </p>
        <p>
            You can go to the website: <a href="{{ link }}" target=_blank>https://www.browserling.com/tools/aes-decrypt</a> to open the envelope with the password:
        </p>
    <div style="text-align:center"><strong>wobukaixin</strong></div>

    {% endif %}

    {% next_button %}

{% endblock %}