{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
       This activity is part of a study in decision-making. You will be asked to do three experiments. <br>
        In these experiments, we will introduce a method named “virtual envelope”. These envelopes are created in the following steps:
    </p>
    <p>
    <strong>Step 1:</strong> We go to a third party website named AES encryptor: <a href="{{ link }}" target=_blank>https://codebeautify.org/encrypt-decrypt</a>.<br>
    <strong>Step 2:</strong> Before each experiment, we encrypt 20 pieces of information, which are all used to decide your payment in the end, with the same special key. The three keys are different in the three experiments.<br>
        <strong>Step 3:</strong> For each experiment, the AES encryptor gives us 20 encrypted messages, for example: <I><U>“U2FsdGVkX1+3OcprUTwgKzg+B6g0jtQ+C2+waZ7zQjg=“</U></I>. And these messages are called “virtual envelopes”.
    </p>
    <p>
    During one experiment, you will need to choose one of the envelopes and answer one related question.
        Then after the experiment, we will give you the special key to “open” your envelope on that third-party website.
        Meanwhile, we will do the same thing on the same website to prepare for your payment.
    </p>
    <p>
    To help you understand the whole process better,
        here is a diagram of how the virtual envelope and these three experiments work:
    </p>

    <div style="text-align:center">
        <img src="{% static "test_axiom/intro.png" %}" align="middle" height="670" width="820"/>
    </div>

    <p>
        Now we are going to organize a practice session in order to familiar you with the decryption process.
    </p>

    {% next_button %}

{% endblock %}