{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Your Choice
{% endblock %}

{% block content %}

    {% include 'behavetrust/Instructions.html' %}

    <p>
        You are <strong>Participant A</strong>. <br>
        Now you have {{Constants.amount_allocated}}.
    </p>
    <p>
        <I>In the previous question, participant B described herself/himself as <strong>{{ counter }}</strong></I><br>
    </p>
    <p>
        How many points will you send to participant B?
    </p>

    {% formfield group.sent_amount with label="Please enter a number from 0 to 100:" %}
    <p>
    {% next_button %}
    </p>

{% endblock %}